flask==3.1.2
gunicorn==23.0.0
isbnlib==3.10.14
jinja2==3.1.6
numpy==2.3.3
numpy-base==2.3.3
openssl==3.0.17
packaging==25.0
pandas==2.3.2
pip==25.2
pthread-stubs==0.3
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
python==3.13.7
python-dateutil==2.9.0.post0
python_abi==3.13
pytz==2025.2
readline==8.3
requests==2.32.5
setuptools==72.1.0
six==1.17.0
sqlite==3.50.2
tbb==2022.0.0
tbb-devel==2022.0.0
tk==8.6.15
tzdata==2025.2
urllib3==2.5.0
waitress==3.0.2
werkzeug==3.1.3
